{% extends "layout.html" %}
{% block content %}
    <legend class="border-bottom mb-4 text-center pt-2 pb-2 text-uppercase">Profil</legend>
    <div class="card mt-4">
        <div class="media">
            <img class="rounded-circle img-thumbnail img-profile mx-2 my-2" src="{{ image_file }}">
            <div class="card-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
        <!-- FORM HERE -->
    </div>
{% endblock content %}