{% extends "layout.html" %}
{% block content %}
<!-- Highlight Post -->
<div class="card bg-dark text-white mt-2" style="width: 57.2rem">
    <img class="card-img" src="{{ highlightPost['image_url'] }}" alt="Card image" style="height:15rem;">
    <div class="card-img-overlay">
      <h5 class="card-title"> {{ highlightPost['title'] }}</h5>
      <p class="card-text">{{ highlightPost['content'] }} <em><a href="#">Mehr lesen.</a></em></p>
      <p class="card-text">Geschrieben von {{ highlightPost.author }} am {{ highlightPost['date_posted'] }}</p>
    </div>
  </div>
    {% for post in posts %}
    <!-- Artikel -->
    <div class="card mt-2" style="width: 28.5rem; display: inline-block;">
      <img class="card-img-top" src="{{ post.image_url }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content }}</p>
      </div>
      <div class="card-footer bg-transparent border-primary">
          <a href="#" class="btn btn-primary"><i class="fab fa-readme"></i> Mehr lesen</a>
          <button type="button" class="btn btn-primary"><i class="fas fa-pen"></i> {{ post.author }}</button>
      </div>
    </div>
    {% endfor %}
{% endblock content %}