{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://images.pexels.com/photos/734983/pexels-photo-734983.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content }}</p>
        <a href="#" class="btn btn-primary">Test</a>
      </div>
    </div>
    {% endfor %}
{% endblock content %}